<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">首页</a>
</li>
<li class="nav-item">
<!-- <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a> -->
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li> -->
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.douban.com/group/smartAndFunny/">讨论</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about.html">关于</a>
</li>
